<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit Recipe
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <ion-content>
      <div>
        <br>

        <ion-item>
          <ion-label>Recipe Name :</ion-label>
        </ion-item>

          <ion-input type="text" [(ngModel)]="recipe.title" placeholder="Recipe title"></ion-input>

        <ion-item>
          <ion-label>Recipe Category :</ion-label>
        </ion-item>

        <ion-select [(ngModel)]="recipe.category.title" multiple="false" cancelText="Cancel" okText="OK" placeholder="Select Category">
          <ion-select-option type="text" value="Petit-déjeuner">Petit-déjeuner</ion-select-option>
          <ion-select-option type="text" value="Déjeuner">Déjeuner</ion-select-option>
          <ion-select-option type="text" value="Dîner">Dîner</ion-select-option>
          <ion-select-option type="text" value="Brunch">Brunch</ion-select-option>
          <ion-select-option type="text" value="Snacks">Snacks</ion-select-option>
        </ion-select>

        <ion-item>
          <ion-label>Recipe Content :</ion-label>
        </ion-item>

        <ion-input type="text" [(ngModel)]="recipe.content" placeholder="Recipe Description"></ion-input>

        <ion-item>
          <ion-label>Recipe Image :</ion-label>
        </ion-item>

        <ion-input type="text" [(ngModel)]="recipe.image" placeholder="Recipe Image"></ion-input>

        <ion-item>
          <ion-label>Recipe Favorite :</ion-label>
        </ion-item>

        <ion-select [(ngModel)]="recipe.favorite" multiple="false" cancelText="Cancel" okText="OK" placeholder="Select One">
          <ion-select-option type="text" [value]="true">Yes</ion-select-option>
          <ion-select-option type="text" [value]="false">No</ion-select-option>
        </ion-select>

        <ion-item>
          <ion-label>Recipe Time :</ion-label>
        </ion-item>
        
        <ion-select [(ngModel)]="recipe.time" multiple="false" cancelText="Cancel" okText="OK" placeholder="Select Time">
          <ion-select-option type="number" [value]="5">5 minutes</ion-select-option>
          <ion-select-option type="number" [value]="10">10 minutes</ion-select-option>
          <ion-select-option type="number" [value]="15">15 minutes</ion-select-option>
          <ion-select-option type="number" [value]="20">20 minutes</ion-select-option>
          <ion-select-option type="number" [value]="25">25 minutes</ion-select-option>
          <ion-select-option type="number" [value]="30">30 minutes</ion-select-option>
        </ion-select>

        <ion-item>
          <ion-label>Recipe Difficulty :</ion-label>
        </ion-item>

        <ion-select [(ngModel)]="recipe.difficulty" multiple="false" cancelText="Cancel" okText="OK" placeholder="Select Difficulty">
          <ion-select-option type="text" value="Facile">Easy</ion-select-option>
          <ion-select-option type="text" value="Moyenne">Medium</ion-select-option>
          <ion-select-option type="text" value="Difficile">Hard</ion-select-option>
        </ion-select>

        <ion-item>
          <ion-label>Recipe Portions :</ion-label>
        </ion-item>

        <ion-select [(ngModel)]="recipe.portions" multiple="false" cancelText="Cancel" okText="OK" placeholder="Select Portions">
          <ion-select-option type="number" [value]="1">1 portion</ion-select-option>
          <ion-select-option type="number" [value]="2">2 portions</ion-select-option>
          <ion-select-option type="number" [value]="3">3 portions</ion-select-option>
          <ion-select-option type="number" [value]="4">4 portions</ion-select-option>
          <ion-select-option type="number" [value]="5">5 portions</ion-select-option>
        </ion-select>        
        <br>
        <ion-button (click)="updateRecipe()">Update</ion-button>
      </div>
    </ion-content>