<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add a new Recipe
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <ion-content>
      <div>
        <br>

        <ion-item>
          <ion-label>Recipe Name :</ion-label>
        </ion-item>

          <ion-input type="text" [(ngModel)]="recipe.title" placeholder="Recipe title"></ion-input>

        <ion-item>
          <ion-label>Recipe Category :</ion-label>
        </ion-item>

        <ion-select [(ngModel)]="recipe.category.title" multiple="false" cancelText="Cancel" okText="OK" placeholder="Select Category">
          <ion-select-option type="text" value="Petit-déjeuner">Petit-déjeuner</ion-select-option>
          <ion-select-option type="text" value="Déjeuner">Déjeuner</ion-select-option>
          <ion-select-option type="text" value="Dîner">Dîner</ion-select-option>
          <ion-select-option type="text" value="Brunch">Brunch</ion-select-option>
          <ion-select-option type="text" value="Snacks">Snacks</ion-select-option>
        </ion-select>

        <ion-item>
          <ion-label>Recipe Content :</ion-label>
        </ion-item>

        <ion-input type="text" [(ngModel)]="recipe.content" placeholder="Recipe Description"></ion-input>

        <ion-item>
          <ion-label>Recipe Image :</ion-label>
        </ion-item>

        <ion-input type="text" [(ngModel)]="recipe.image" placeholder="Recipe Image"></ion-input>

        <ion-item>
          <ion-label>Recipe Favorite :</ion-label>
        </ion-item>

        <ion-input type="text" [(ngModel)]="recipe.favorite" placeholder="Recipe Favorite"></ion-input>

        <ion-item>
          <ion-label>Recipe Time :</ion-label>
        </ion-item>
        
        <ion-input type="number" [(ngModel)]="recipe.time" placeholder="Recipe Preparation Time"></ion-input>

        <ion-item>
          <ion-label>Recipe Difficulty :</ion-label>
        </ion-item>

        <ion-select [(ngModel)]="recipe.difficulty" multiple="false" cancelText="Cancel" okText="OK" placeholder="Select Difficulty">
          <ion-select-option type="text" value="Facile">Easy</ion-select-option>
          <ion-select-option type="text" value="Moyenne">Medium</ion-select-option>
          <ion-select-option type="text" value="Difficile">Hard</ion-select-option>
        </ion-select>

        <ion-item>
          <ion-label>Recipe Portions :</ion-label>
        </ion-item>

        <ion-input type="number" [(ngModel)]="recipe.portions" placeholder="Recipe portions number"></ion-input>
        
        <br>
        <ion-button (click)="addRecipe()">Add</ion-button>
      </div>
    </ion-content>